.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.container a {
  text-decoration: none;
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  background-color: #000;
  cursor: pointer;
  color: #fff;
}
.button a {
  color: #fff;
}
.button:hover {
  background-color: rgb(71, 71, 71);
}
.container ul {
  padding: 0;
  margin: 3rem 0;
}
.container ul li {
  list-style: none;
  margin: 1rem 0;
  cursor: pointer;
}
.container ul li a {
  color: #000;
}
